div.card{
    padding:10px;
}

.alert-light{
    border-color:black;
    --bs-alert-border-color: #000000;
}

.button-padding{
    padding-left:10px;
    padding-right:10px;
}

#banner{
    padding-top:5px;
    padding-bottom:5px;
}